
   @{
        ViewData["Title"] = "Kontakt";
    }

   
        
        <h2>@ViewData["Title"]</h2>
        <h3>@ViewData["Message"]</h3>
 
        <body style="background-color:ThreeDHighlight">
            
            
                <div class="collpase navbar-collapse" >
                    <address>
                        <p>Wykonała: Kinga Krawczyk </p>
                        <p>sekcja IiAM1</p>
                        <p>Projekt z telemedycyny i technologii sieciowych</p>
                    </address>

                    <address>

                        <strong>Adres e-mail:  kingkra012@student.polsl.pl</a></strong>
                    </address>
                </div>
           
        </body>
