@model MvcLoginRegistration.Models.Pytanie





<html>
<body style="background-color:ThreeDHighlight" >


    <meta name="viewport" content="width=device-width" />
    <div style="background-color:pink">
        <h1>KONIEC</h1>
    </div>
</body>
</html>
